<form class="ui form" action="/trainerview/{{id}}/addComment" method="POST">
    <div class = "field">
        <label>Comment</label>
        <input type="text" name="comment">
        <button class="ui blue submit button">Update</button>
    </div>
</form>