<form class="ui segment form" action="/goals/addgoal" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Date</label>
            <input type="text" placeholder="DD/MM/YYYY" name="yyyymmdd">
        </div>
        <div class="field">
            <label>Weight</label>
            <input type="text" placeholder="0.00kg" name="weight">
        </div>
    </div>
    <button class="ui blue submit button">Add Goal</button>
</form>

