<div class = "ui segments">
    <div class="ui four column middle aligned grid raised segment">
        <div class="column">
            <header class="ui center aligned icon header">
                <i class = "user icon"></i>
                {{firstname}} {{lastname}}
            </header>
        </div>
        <div class="column">
            <header class="ui center aligned icon header">
                <i class = "green tachometer alternate icon"></i>
                IDEAL WEIGHT INDICATOR
            </header>
        </div>
        <div class="column">
            <div class="ui huge left aligned header">
                <i class = "big heartbeat icon"></i>
                <div class = "content">
                    {{BMI}}
                    <div class="ui black sub header">BMI</div>
                </div>
            </div>
        </div>
        <div class="column">
            <header class="ui center aligned icon header">
                <i class = "doctor icon"></i>
            </header>
        </div>
    </div>
</div>